<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/contacts.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="links">
    <a href="/"> Home </a>
    <a href="/Projects"> Projects </a>
    <a href="/Contacts"> Contact </a><br>
    <h1>Contact Me!</h1>
    </div>
    <div class="center">

<div class="form">
    <form method="post" action="home">
        <label>Name</label>
        <input type="text" name="Name" id=""><br>
        <label>Email</label>
        <input type="text" name="Email" id=""><br>
        </div>
        <div class="message">
        <label class="msg">Message</label><br>
        <textarea name="Message" cols="60" rows="10"></textarea><br>
        <input class="button" type="submit" value="Send">
    </form>
</div>
</div>
</div>
</div>
</body>
</html>