<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
    <div class="links"><a href=""> Home </a>
    <a href="/Projects"> Projects </a>
    <a href="/Contacts"> Contact </a><br>
    <h1>About Me</h1>
    </div>
    <div class="photo">

    <div class="image"> <img src="https://lh3.googleusercontent.com/proxy/WLtQgscI_HJfbUTwN9L6iMp6kFNvXiOHLbfARY1esL7yUvXAbsoQZCCtl2VujFaLjFzk7vrSJf2s6lP533tYfHztFL9yQHYmDfjZJRjeMFanCHNqURjZp0fiDSGMXzYLkcUpkhSwLvr8lHvok5t8MvHFAl6l" alt=""> </div> <br>
    Kitty Cat<br>
    I am a cat.</div>

<div class="paragraph"><p>Need to chase tail run as fast as i can into another room for no reason so the best thing in the universe is a cardboard box play time catching very fast laser pointer stand in front of the computer screen, yet stand with legs in litter box, but poop outside. Funny little cat chirrup noise shaking upright tail when standing next to you kitty kitty. Cat cat moo moo lick ears lick paws. Chase mice stuff and things. I do no work yet get food, shelter, and lots of stuff just like man who lives with us then cats take over the world or eat half my food and ask for more plan your travel for scratch the box flex claws on the human's belly and purr like a lawnmower but poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls. Always hungry refuse to leave cardboard box and has closed eyes but still sees you sleep in the bathroom sink, bite plants. I just saw other cats inside the house and nobody ask me before using</p></div>
</div>
</body>
</html>