<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/proj.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <title>Projects</title>
</head>
<body>
    <div class="container">
    <div class="links"><a href="/"> Home </a>
    <a href="/Projects"> Projects </a>
    <a href="/Contacts"> Contact </a><br>
    <h1>Here are some projects of mine!</h1>
    </div>
<div class="cards">


<div class="projects">
    <img class="photo" src="https://www.thesprucepets.com/thmb/ixUQYXHvuHyTMNTMcD9fMmqeWUs=/3379x2534/smart/filters:no_upscale()/cat-playing-with-little-gerbil-mouse-on-thetable-507209918-5aa963921f4e1300371a3099.jpg" alt="Mouse">
    <div class="w3-container w3-center">
      <p  class="title">The Cat and Mouse Project</p>
      <p class="desc">Terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry meowzer purr but paw your face to wake you up in the morning or fight an alligator and win or fight own tail. Swat at dog sun bathe walk on a keyboard. Walk on keyboard your pillow is now my pet bed that box? i can fit in that box but pee on walls it smells like breakfast or i like fish yet bite the neighbor's bratty kid but vommit food and eat it again.</p>
    </div>
  </div>
  <div class="projects">
    <img class="photo" src="https://images.unsplash.com/photo-1563136192-a4b2b5f977e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="yarn">
    <div class="w3-container w3-center">
      <p  class="title" >The Yarn Project</p>
            <p class="desc">Terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry meowzer purr but paw your face to wake you up in the morning or fight an alligator and win or fight own tail. Swat at dog sun bathe walk on a keyboard. Walk on keyboard your pillow is now my pet bed that box? i can fit in that box but pee on walls it smells like breakfast or i like fish yet bite the neighbor's bratty kid but vommit food and eat it again.</p>
    </div>
  </div>

<div class="projects">
    <img class ="photo" src="https://i.ytimg.com/vi/5KqduAL7R7k/hqdefault.jpg" alt="Sushi">
    <div class="w3-container w3-center">
      <p class="title">The Cats Need More Sushi Project</p>
            <p class="desc">Terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry meowzer purr but paw your face to wake you up in the morning or fight an alligator and win or fight own tail. Swat at dog sun bathe walk on a keyboard. Walk on keyboard your pillow is now my pet bed that box? i can fit in that box but pee on walls it smells like breakfast or i like fish yet bite the neighbor's bratty kid but vommit food and eat it again.</p>
    </div>
  </div>
</div>
</div>
    </div>
</body>
</html>