.container{
    font-family: 'Playfair Display', serif;
}

.links{
    text-align:center;
    font-size: 20px;
}
a{
    border-left: 2px solid black;
    color: black;
    text-decoration: none;
}
a:hover{
    color: pink;
}
p{
    width: 450px;
    margin-left: 40px;
    font-size: 20px;
}
.photo{
    display:inline-block;
    margin-left: 20%;
}
.paragraph{
    display:inline-block;
    margin-top: 20px;
}
